@model WebHocTap.Web.ViewModels.Subject.LessonDetailVM

@{
    ViewData["Title"] = "Lesson";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var i = 0;
}
<link href="~/clientLTE/css/lession.css" rel="stylesheet" />
<section id="main" style="padding-top:150px">
    <div class="container-lession">
        <div class="row-lession">

            <!-- Left Col -->
            <div class="leftcol-lession">
                <div class="card-lession">

                    <ul class="toc chapters">
                        <li class="heading">@Model.subject.NameSubject</li>

                        @foreach (var chapter in Model.chapters)
                        {

                            <li class="js-li"><a data-id="@chapter.Id" style="cursor:pointer" class="js-chapter">@chapter.NameChapter</a></li>

                        }

                    </ul>

                </div>
            </div>

            <!-- Mid Col -->
            <div class="midcol-lession js-content no-copy">
                @foreach (var lesson in Model.lessons)
                {
                    @Html.Raw(lesson.Content)
                }
            </div>

            <!-- Right Col -->
            <div class="rightcol-lession js-test">
                @if (Model.IsTest)
                {
                    <a asp-action="TestClient" asp-controller="subjectClient" asp-route-id="@ViewBag.IdChapter">Bài kiểm tra</a>
                }
            </div>

        </div>
    </div>
</section>
@section styleclient {
    <style>
        body {
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            -o-user-select: none;
            user-select: none;
        }
    </style>
}

@section scriptClient {
    <script type="text/JavaScript">
        function disableCopy(e) {
            return false;
        }
        function reEnable() {
            return true;
        }
        document.addEventListener('DOMContentLoaded', (event) => {
            const noCopyElements = document.querySelectorAll('.no-copy');
            noCopyElements.forEach(element => {
                element.oncontextmenu = function () { return false; };
                element.onselectstart = function () { return false; };
                element.onmousedown = function () { return false; };
            });
        });

        window.onload = function () {
            document.addEventListener("contextmenu", function (e) {
                if (e.target.closest('.no-copy')) {
                    e.preventDefault();
                }
            }, false);
            document.addEventListener("keydown", function (e) {
                if (e.ctrlKey && e.shiftKey && (e.keyCode == 73 || e.keyCode == 74 || e.keyCode == 85) ||
                    e.keyCode == 123 ||
                    (e.keyCode == 83 && (navigator.platform.match("Mac") ? e.metaKey : e.ctrlKey))) {
                    if (e.target.closest('.no-copy')) {
                        disabledEvent(e);
                    }
                }
            }, false);

            function disabledEvent(e) {
                e.stopPropagation();
                e.preventDefault();
                return false;
            }
        };
    </script>
    <script src="~/clientLTE/js/detaillesson.js" asp-append-version="true"></script>
}

